@font-face{
    font-family: 'DecimaNovaPro';
    src: url('/assets//fonts/Decima_Nova_Pro/DecimaNovaPro.eot');
    src: url('/assets//fonts/Decima_Nova_Pro/DecimaNovaPro.eot?iefix') format('eot'),
    url('/assets//fonts/Decima_Nova_Pro/DecimaNovaPro.woff') format('woff'),
    url('/assets//fonts/Decima_Nova_Pro/DecimaNovaPro.ttf') format('truetype'),
    url('/assets//fonts/Decima_Nova_Pro/DecimaNovaPro.svg#webfont') format('svg');
    font-weight: 400;
    font-style: normal;    
}

@font-face{
    font-family: 'DecimaNovaPro';
    src: url('/assets//fonts/Decima_Nova_Pro/DecimaNovaPro-Bold.eot');
    src: url('/assets//fonts/Decima_Nova_Pro/DecimaNovaPro-Bold.eot?iefix') format('eot'),
    url('/assets//fonts/Decima_Nova_Pro/DecimaNovaPro-Bold.woff') format('woff'),
    url('/assets//fonts/Decima_Nova_Pro/DecimaNovaPro-Bold.ttf') format('truetype'),
    url('/assets//fonts/Decima_Nova_Pro/DecimaNovaPro-Bold.svg#webfont') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'DecimaNovaPro';
    src: url('/assets//fonts/Decima_Nova_Pro/DecimaNovaProLt.eot');
    src: url('/assets//fonts/Decima_Nova_Pro/DecimaNovaProLt.eot?iefix') format('eot'),
    url('/assets//fonts/Decima_Nova_Pro/DecimaNovaProLt.woff') format('woff'),
    url('/assets//fonts/Decima_Nova_Pro/DecimaNovaProLt.ttf') format('truetype'),
    url('/assets//fonts/Decima_Nova_Pro/DecimaNovaProLt.svg#webfont') format('svg');
    font-weight: 300;
    font-style: normal;
}